# ===== Laravel =====
/vendor
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*.php
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
_ide_helper.php
npm-debug.log
yarn-error.log

# ===== Секреты приложения =====
.env
.env.backup
.env.production
*.key

# ===== Редакторы / ОС =====
.DS_Store
Thumbs.db
/.idea
/.vscode
/.zed
/.nova
/.cursor/